{
   "swagger":"2.0",
   "info":{
      "title":"Vinfiniti",
      "description":"API for test3.vinfiniti.biz",
      "version":"0.0.0"
   },
   "host":"test3.vinfiniti.biz:8210",
   "basePath":"/Vin3RService/rest/commonEdi/getEdiData/MELS",
   "schemes":[
      "https"
   ],
   "paths":{
      "/TBLEDI_MELS_TALLYSHEET_SO_LINE":{
         "post":{
            "tags":[
               "TBLEDI_MELS_TALLYSHEET_SO_LINE"
            ],
            "description":"Read so line",
            "operationId":"read_so_line",
            "consumes":[
               "application/json"
            ],
            "produces":[
               "application/json"
            ],
            "parameters":[
               {
                  "name":"Orderno",
                  "in":"body",
                  "description":"orderno",
                  "required":true,
                  "schema":{
                     "$ref":"#/definitions/Orderno"
                  }
               }
            ],
            "responses":{
               "200":{
                  "description":"OK",
                  "schema":{                     
                        "$ref":"#/definitions/ReadSoLineWrapper"
                  },
                  "examples":{
                     "application/json":{
                        "VIN3R_REFE_PALLETID":null,
                        "VIN3R_REFD_SEALNO":null,
                        "VIN3R_REFF_CONTAINERTYPE":"20F",
                        "VIN3R_REFC_CONTAINERNO":"1",
                        "VIN3R_CUSTORDERNO":"Testing-NewTable",
                        "VIN3R_SEQ":0,
                        "VIN3R_LINESTATUS":0,
                        "VIN3R_ITEMNO":"A-0550S-J-25",
                        "VIN3R_WAREHOUSE":"TWL1ST",
                        "VIN3R_LOCATION":null,
                        "VIN3R_ORDERNO":"MEL-TWL1ST-SV0000227",
                        "VIN3R_ORDEREDQTY":750,
                        "VIN3R_LOT":"111",
                        "VIN3R_CARRIER":null,
                        "VIN3R_POS":10
                     }
                  }
               }
            },
            "security":[
               {
                  "Default":[

                  ]
               }
            ]
         }
      }
   },
   "definitions":{
      "ReadSoLineWrapper": {
      "type": "object",
      "properties": {
        "data": {
            "type": "array",
            "items": {
                "$ref": "#/definitions/ReadSoLine"
            }
        },
        "count": {
          "type": "integer"
        }
      }
    },
      "Orderno":{
         "description":"Model for Orderno",
         "required":[
            "VIN3R_ORDERNO"
         ],
         "properties":{
            "VIN3R_ORDERNO":{
               "type":"string",
               "x-example":"MEL-TWL1ST-SV0000227"
            }
         }
      },
      "ReadSoLine":{
         "description":"Model for ReadSoLine",
         "required":[
            "VIN3R_CARRIER"
         ],
         "properties":{
            "VIN3R_CARRIER":{
               "type":"string",
               "x-example":""
            },
            "VIN3R_CUSTORDERNO":{
               "type":"string",
               "x-example":"Testing-NewTable"
            },
            "VIN3R_ITEMNO":{
               "type":"string",
               "x-example":"A-0550S-J-25"
            },
            "VIN3R_LINESTATUS":{
               "type":"integer",
               "format":"int32",
               "x-example":"0"
            },
            "VIN3R_LOCATION":{
               "type":"string",
               "x-example":""
            },
            "VIN3R_LOT":{
               "type":"string",
               "x-example":"111"
            },
            "VIN3R_ORDEREDQTY":{
               "type":"integer",
               "format":"int32",
               "x-example":"750"
            },
            "VIN3R_ORDERNO":{
               "type":"string",
               "x-example":"MEL-TWL1ST-SV0000227"
            },
            "VIN3R_POS":{
               "type":"integer",
               "format":"int32",
               "x-example":"10"
            },
            "VIN3R_REFC_CONTAINERNO":{
               "type":"string",
               "x-example":"1"
            },
            "VIN3R_REFD_SEALNO":{
               "type":"string",
               "x-example":""
            },
            "VIN3R_REFE_PALLETID":{
               "type":"string",
               "x-example":""
            },
            "VIN3R_REFF_CONTAINERTYPE":{
               "type":"string",
               "x-example":"20F"
            },
            "VIN3R_SEQ":{
               "type":"integer",
               "format":"int32",
               "x-example":"0"
            },
            "VIN3R_WAREHOUSE":{
               "type":"string",
               "x-example":"TWL1ST"
            }
         }
      }
   },
   "securityDefinitions":{
      "Default":{
         "description":"Default Authentication",
         "type":"basic"
      }
   },
   "security":[

   ],
   "tags":[
      {
         "name":"TBLEDI_MELS_TALLYSHEET_SO_LINE",
         "description":"Operations about TBLEDI_MELS_TALLYSHEET_SO_LINE"
      }
   ]
}